src/flows/Create_Draft_Article_from_Case-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>IncrementCountRT</name>
        <label>IncrementCountRT</label>
        <locationX>359</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>NumOfArticleRecordTypes</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ArticleRTs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArticleHasRecordTypes</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>KnowledgeAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Knowledge__kav</stringValue>
        </value>
    </constants>
    <constants>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>ArticleHasRecordTypes</name>
        <label>ArticleHasRecordTypes</label>
        <locationX>503</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>GetCaseDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1_Record_Types</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumOfArticleRecordTypes</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>One</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PickRecordType</targetReference>
            </connector>
            <label>&gt;1 Record Types</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsArticleRecordTypeNull</name>
        <label>IsArticleRecordTypeNull</label>
        <locationX>855</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>GetArticleId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RT_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateArticleRecordType</targetReference>
            </connector>
            <label>RT is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRecordIDNull</name>
        <label>IsRecordIDNull</label>
        <locationX>52</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>GetArticleRTs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RecordIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Update_Component_in_App_Builder</targetReference>
            </connector>
            <label>RecordIdNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ArticleRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeAPIName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>URLNameFormula</name>
        <dataType>String</dataType>
        <expression>{!recordId} &amp; TEXT((NOW() - DATETIMEVALUE( &quot;1970-01-01 00:00:00&quot; ))  * 86400000)</expression>
    </formulas>
    <interviewLabel>Create Draft Article from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Draft Article from Case</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseArticle</name>
        <label>CreateCaseArticle</label>
        <locationX>1021</locationX>
        <locationY>151</locationY>
        <assignRecordIdToReference>CaseArticleId</assignRecordIdToReference>
        <connector>
            <targetReference>CaseArticleCreated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error5</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KnowledgeArticleId</field>
            <value>
                <elementReference>ArticleId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseArticle</object>
    </recordCreates>
    <recordCreates>
        <name>CreateKAV</name>
        <label>CreateKAV</label>
        <locationX>860</locationX>
        <locationY>351</locationY>
        <assignRecordIdToReference>ArticleVersionId</assignRecordIdToReference>
        <connector>
            <targetReference>IsArticleRecordTypeNull</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error3</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Summary</field>
            <value>
                <elementReference>Summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrlName</field>
            <value>
                <elementReference>URLNameFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordCreates>
    <recordLookups>
        <name>GetArticleId</name>
        <label>GetArticleId</label>
        <locationX>858</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateCaseArticle</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error4</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArticleVersionId</elementReference>
            </value>
        </filters>
        <object>Knowledge__kav</object>
        <outputAssignments>
            <assignToReference>ArticleId</assignToReference>
            <field>KnowledgeArticleId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetArticleRTs</name>
        <label>GetArticleRTs</label>
        <locationX>220</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IncrementCountRT</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error1</targetReference>
        </faultConnector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>KnowledgeAPIName</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ArticleRTs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseDetails</name>
        <label>GetCaseDetails</label>
        <locationX>504</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Article_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error2</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseDetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateArticleRecordType</name>
        <label>UpdateArticleRecordType</label>
        <locationX>685</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>GetArticleId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArticleVersionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Knowledge__kav</object>
    </recordUpdates>
    <screens>
        <name>CaseArticleCreated</name>
        <label>CaseArticleCreated</label>
        <locationX>1022</locationX>
        <locationY>347</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseArticleCreatedDisplayText</name>
            <fieldText>A draft article has been created and associated with this case.

Case: {!recordId}
Article: {!ArticleId}
Version: {!ArticleVersionId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClickNextToStart</name>
        <label>Click Next to Start</label>
        <locationX>55</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsRecordIDNull</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>222</locationX>
        <locationY>187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error1Text</name>
            <fieldText>There was an error pulling Article Record Types.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error2</name>
        <label>Error2</label>
        <locationX>501</locationX>
        <locationY>475</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error2Text</name>
            <fieldText>There was an error pulling Case Details.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error3</name>
        <label>Error3</label>
        <locationX>857</locationX>
        <locationY>471</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error3Text</name>
            <fieldText>There was an error creating the Draft Article.  You may not have the correct permissions to create an article or to set this Record Type value.  Please contact your Salesforce Administrator.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error4</name>
        <label>Error4</label>
        <locationX>857</locationX>
        <locationY>21</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error4Text</name>
            <fieldText>There was an error pulling Article Details.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error5</name>
        <label>Error5</label>
        <locationX>1021</locationX>
        <locationY>19</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error5Text</name>
            <fieldText>There was an error associating the Draft Article with this Case.  The Article has been created but is not attached to this Case.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Update_Component_in_App_Builder</name>
        <label>Error: Update Component in App Builder</label>
        <locationX>53</locationX>
        <locationY>267</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UpdateComponentText</name>
            <fieldText>Error: Update Component in App Builder

Make sure &quot;Pass record ID into this variable&quot; is checked for recordID on this Flow Component</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PickRecordType</name>
        <label>Pick Record Type</label>
        <locationX>299</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCaseDetails</targetReference>
        </connector>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>ArticleRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Article_Details</name>
        <label>Review Article Details</label>
        <locationX>676</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateKAV</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CaseDetails.Subject</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Summary</name>
            <defaultValue>
                <elementReference>CaseDetails.Description</elementReference>
            </defaultValue>
            <fieldText>Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ClickNextToStart</startElementReference>
    <variables>
        <name>ArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ArticleRTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ArticleVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NumOfArticleRecordTypes</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
